.git
.github
.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache

.env
.idea
.vscode

datasets
experiments
reports
documentation
tests
dashboard

models/training_runs
models/pretrained
models/exports

*.ipynb
*.log
*.zip